@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Primary Colors */

  --Soft_red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --Dark_desaturated_cyan: hsl(167, 40%, 24%);
  --Dark_blue: hsl(198, 62%, 26%);
  --Dark_moderate_cyan: hsl(168, 64%, 56%);

  /* Neutral Colors */

  --Very_dark_desaturated_blue: hsl(212, 27%, 19%);
  --Very_dark_grayish_blue: hsl(213, 9%, 39%);
  --Dark_grayish_blue: hsl(232, 10%, 55%);
  --Grayish_blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);

  /* Font Family */
  --Barlow: "Barlow";
  --Fraunces: "Fraunces";
}

img {
  display: block;
  max-width: 100%;
}

ul li {
  list-style-type: none;
}

ul li a {
  text-decoration: none;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: var(--Barlow), sans-serif;
  font-size: 16.5px;
}

.header_content {
  background-color: hsla(197, 99%, 55%, 0.975);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.8rem;
  position: relative;
}

nav {
  position: absolute;
  top: 210%;
  left: 1.8rem;
  right: 1.8rem;
  background-color: var(--White);
  text-align: center;
  padding: 2.5rem 0 4rem 0;
  transform: translateX(-200%);
  z-index: 1;
  transition: transform 250ms;
}

.nav_menu {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.nav_link {
  padding: 1rem 2.5rem;
  border-radius: 50px;
  color: var(--Very_dark_grayish_blue);
  transition: background-color 250ms ease-in-out, text-transform 250ms;
}

.nav_link:hover {
  font-family: var(--Fraunces);
  color: var(--Very_dark_desaturated_blue);
  text-transform: uppercase;
  background-color: var(--Yellow);
}

nav::before {
  content: "";
  position: absolute;
  top: -30px;
  right: 0;
  border-left: 30px solid transparent;
  border-bottom: 30px solid var(--White);
}

.active {
  transform: translateX(0);
}

.hamburger {
  opacity: 0.5;
  transition: opacity 250ms ease-in-out;
}
.hamburger:hover {
  cursor: pointer;
  opacity: 1;
}

.hero_heading,
.arrow_down {
  position: absolute;
}

.hero_heading {
  text-align: center;
  top: 30%;
  width: 100%;
}

.hero_heading h1 {
  text-transform: uppercase;
  font-size: 40px;
  font-family: var(--Fraunces);
  font-weight: 900;
  letter-spacing: 5px;
  color: var(--White);
}

.arrow {
  max-width: 100% !important;
  position: absolute;
  display: inline;
  top: 46.5%;
  left: 50%;
  transform: translate(-50%, 50%);
}

main {
  text-align: center;
}

.transform_brand_context,
.stand_out_context,
.graphic_design_context,
.photography_context {
  padding: 5rem 1rem;
}

.primary_heading {
  font-family: var(--Fraunces);
  font-weight: 900;
  margin-bottom: 1.5rem;
  font-size: 30px;
}

.primary_text {
  line-height: 1.8;
  color: var(--Very_dark_grayish_blue);
  margin-bottom: 1.5rem;
}

.learn {
  text-transform: uppercase;
  font-family: var(--Fraunces);
  font-size: 15px;
  font-weight: 900;
  text-decoration: none;
  position: relative;
  color: var(--Very_dark_desaturated_blue);
  padding: 0 0.4rem;
}

.learn::after {
  content: "";
  position: absolute;
  width: 100%;
  right: 0;
  bottom: -1px;
  border-radius: 20px;
  z-index: -1;
  opacity: 0.4;
  transition: opacity 300ms ease-in-out;
}
.learn_yellow::after {
  border-bottom: 8px solid var(--Yellow);
}
.learn_pink::after {
  border-bottom: 8px solid var(--Soft_red);
}

.learn:hover::after {
  opacity: 1;
}

.graphic_design,
.photography {
  position: relative;
}

.graphic_design_context,
.photography_context {
  position: absolute;
  top: 50%;
  padding: max(10vh, 2em) 1rem;
}

.graphic_design_context {
  color: var(--Dark_desaturated_cyan);
}
.photography_context {
  color: var(--Dark_blue);
}

.graphic_design_text,
.photography_text {
  line-height: 1.5;
}
.client_testimonials_container {
  padding: 4rem 2.25rem;
}

.client_heading {
  text-transform: uppercase;
  font-family: var(--Fraunces);
  font-weight: 900;
  letter-spacing: 2.5px;
  color: var(--Grayish_blue);
  margin-bottom: 4rem;
}

.client_info {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.client img {
  display: inline;
  width: 80px;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.client_feedback {
  line-height: 1.5;
  margin-bottom: 1.5rem;
  color: var(--Very_dark_grayish_blue);
  font-weight: 600;
}

.client_name {
  margin-bottom: 0.5rem;
  font-family: var(--Fraunces);
  font-weight: 900;
}
.client_title {
  color: var(--Grayish_blue);
  font-size: 14px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

footer {
  background-color: var(--Dark_moderate_cyan);
  padding: 4rem 0;
  text-align: center;
}

.footer_logo img {
  display: inline;
  margin-bottom: 2rem;
}
.footer_links a {
  text-decoration: none;
  padding: 0 1.5rem;
  color: var(--Dark_desaturated_cyan);
}

.footer_links {
  margin-bottom: 5rem;
}

.social_media img {
  display: inline;
  padding: 0 1rem;
}

.social_media {
  margin-bottom: 4rem;
}

.attribution {
  color: white;
}

/* MEDIA SCREEN AT 751PX */

@media screen and (min-width: 751px) {
  body {
    font-size: 16px;
  }

  nav {
    position: static;
    background-color: transparent;
    padding: 0;
    transform: translateX(0);
  }

  nav::before {
    display: none;
  }

  .nav_menu {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: space-evenly;
  }

  .nav_link {
    padding: 1rem 1.5rem;
    color: var(--White);
  }

  .nav_link:hover {
    color: var(--Very_dark_desaturated_blue);
    background-color: var(--White);
  }

  .hamburger_menu {
    display: none;
  }

  .arrow {
    top: 56%;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-evenly;
  }

  .transform_brand picture {
    grid-column: 2;
  }

  .transform_brand .transform_brand_context {
    grid-row: 1;
  }

  .primary_heading {
    width: 325px;
  }

  .transform_brand_context,
  .stand_out_context {
    text-align: left;
    width: min(100%, 27em);
    margin: 0 auto;
    padding: 1rem;
  }

  .client_info {
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
  }

  .client {
    flex-basis: 400px;
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}
